<div class="table-container">
  <div class="table-content">
    <table [ngClass]="{'table-hover': isClickable}">
      <thead>
      <tr>
        <th *ngIf="controls" class="table-th-control"></th>
        <th *ngFor="let k of keys;" scope="col" [ngClass]="getStyleClass(k)">
          <div class="table-column">
            
            <lib-pagination-thead-cell
              [data]="getPaginationTheadCellComponentData(k)"
              (changePaginationEvent)="onFilterChange($event)"
            ></lib-pagination-thead-cell>

            <!-- [direction]="getDirection(k)"
                                  [sortable]="isDirectionField(k)"
                                  [name]="k"
                                  [value]="attributes[k]['label']"
                                  (directionChange)="filterChange($event)"> -->

            <!-- <lib-pagination-base-thead-cell-plain
            [name]="k"
            [value]="attributes[k]['label']"
            ></lib-pagination-base-thead-cell-plain> -->


            <!-- <app-table-cell-text *ngIf="getColumnType(k) === 'text'"
              [name]="getFilterName(k)"
              [value]="getSelected(k)"
              [direction]="getDirection(k)"
              [sortable]="isDirectionField(k)"
              [placeholder]="attributes[k]['label']"
              (directionChange)="filterChange($event)"
              (dateChange)="filterChange($event)"
            ></app-table-cell-text> -->

            <!-- <app-table-cell-datepicker
              *ngIf="getColumnType(k) === 'date'"
              [label]="attributes[k]['label']"
              [date]="dateFieldParam"
              [direction]="getDirection(k)"
              [sortable]="isDirectionField(k)"
              [name]="k"
              (directionChange)="filterChange($event)"
              (dateChange)="filterChange($event)"
            ></app-table-cell-datepicker>

            <app-table-cell-select
              *ngIf="getColumnType(k) === 'select'"
              [name]="getFilterName(k)"
              [data]="attributes[k]['filter']['data']"
              [label]="attributes[k]['label']"
              [selected]="getSelected(k)"
              (dateChange)="filterChange($event)"
            ></app-table-cell-select>





            <app-table-cell-plain
            *ngIf="getColumnType(k) === 'image'"
                                  [direction]="false"
                                  [sortable]="false"
                                  [name]="k"
                                  [value]="attributes[k]['label']"
            >
            </app-table-cell-plain> -->



            <!-- <app-table-cell-plain *ngIf="getColumnType(k) === 'plain'"
                                  [direction]="getDirection(k)"
                                  [sortable]="isDirectionField(k)"
                                  [name]="k"
                                  [value]="attributes[k]['label']"
                                  (directionChange)="filterChange($event)">
            </app-table-cell-plain> -->
          </div>

        </th>

      </tr>
      </thead>
      <tbody>


      <tr *ngFor="let item of _items"
          [ngClass]="getStyleClass(null, item)"
          class="table-row-active" (click)="onClick(item)">

        <td *ngIf="isSector(item); else row_data" class="table-cell-sector" [attr.colspan]="getCountColumn()"
            [innerHtml]="getSectorName(item) | date:'MMMM, yyyy'"></td>

        <ng-template #row_data>

          <td *ngIf="controls" class="table-cell-controll">
            <ng-container [ngTemplateOutlet]="controls" [ngTemplateOutletContext]="{item: item}">
            </ng-container>
          </td>

          <td *ngFor="let k of keys"
              [ngClass]="getStyleClass(k, item)">

            <!-- <div *ngIf="attributes[k]['format'].search('date:') === 0" class="td-date"
                 [innerHTML]="getDate(k, item) | date:getFormat(attributes[k]['format'])"></div> -->

            <div *ngIf="attributes[k]['format'] === 'number'" [innerHTML]="getNumber(k, item) | translate"
                 class="td-number"></div>

            <div *ngIf="attributes[k]['format'] === 'string'" [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>
<!--
            <div *ngIf="attributes[k]['format'] === 'status'" [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>

            <div *ngIf="attributes[k]['format'] === 'barcodeType'" [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>

            <div *ngIf="attributes[k]['format'] === 'address'" [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>

            <div *ngIf="attributes[k]['format'] === 'custom'" [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>

            <div *ngIf="attributes[k]['format'] === 'boolean'" [innerHTML]="getBoolean(k, item) | translate"
                 class="td-string"></div>

            <app-image *ngIf="attributes[k]['format'] === 'image'"
                       [width]="'25px'"
                       [height]="'25px'"
                       [placeholder]="attributes[k]['placeholder']"
                       [fileId]="getImage(k, item)">
            </app-image>

            <div class="td-string" *ngIf="attributes[k]['format'] === 'accordion'">
              <app-table-value-accordion
                [localized]="getLocalized(k)"
                [field]="k" [items]="getAccordion(k, item)">
              </app-table-value-accordion>
            </div>


            <div *ngIf="attributes[k]['format'] === 'localized' || attributes[k]['format'] === 'localizedTextarea'"
                 [innerHTML]="get(k, item) | translate"
                 class="td-string"></div>

            <ng-container *ngIf="attributes[k]['format'] === 'textarea'" class="td-string">
              <app-table-value-textarea [value]="get(k, item)"></app-table-value-textarea>
            </ng-container>

            <div *ngIf="attributes[k]['format'] === 'currency'" class="td-currency">
              {{getCurrency(k, item) | translate}}
            </div>
 -->
          </td>


        </ng-template>


      </tr>

      </tbody>
    </table>

    <div *ngIf="_items && getCount() === 0" class="row justify-content-center empty-holder">
      <div class="col-auto align-self-center">{{'not_found' | translate}}</div>
    </div>
  </div>


  <div class="table-pagination">
    <ul class="pagination pagination-extra-data">
      <li class="page-item">
        <span class="page-link" > {{countPage}} </span>
      </li>
      <li class="page-item">
        <span class="page-link" > {{countPageWithoutFilters}} </span>
      </li>
    </ul>

    <ngb-pagination
      *ngIf="visiblePagination"
      class="d-flex justify-content-center"
      [pageSize]="getMax()"
      [collectionSize]="countPage"
      [(page)]="page"
      [maxSize]="10"
      [rotate]="false"
      [boundaryLinks]="true"
      (pageChange)="pageChange($event)"
    ></ngb-pagination>
  </div>
</div>
<!--
<ng-template #modal_progress_export_xlsx>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <span class="modal-title-gallery">{{'dashboard.progress_export_xlsx' | translate}}</span>
    </h5>
    <button *ngIf="export_xlsx_exit" type="button" class="close pull-right" aria-label="Close" (click)="modalRefProgressExportXlsx.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row export-body">
      <div class="col-12">
        <ngb-progressbar showValue="true" type="info" [value]="getExportProgress()" [height]="'20px'"></ngb-progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button *ngIf="!export_xlsx_exit" class="btn btn-danger" (click)="onClickStopExportXlsx($event)">{{'cancel' | translate}}</button>
        <button *ngIf="export_xlsx_exit" class="btn btn-primary" (click)="modalRefProgressExportXlsx.hide()">{{'close' | translate}}</button>
      </div>
    </div>

  </div>
</ng-template>

 -->

<!--  <app-columns
  [view_child]="this"
  (changeColumnsActual)="onChangedColumnsActual($event)"
></app-columns> -->

